# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.pytest_cache/
.ipynb_checkpoints/

# Virtual env
.venv/
venv/
ENV/
env/

# Data & artifacts (keep repo light)
*.parquet
data/raw/
data/interim/

# Optional: Jupyter exports
*.ipynb_checkpoints
